body {
	background-color: #ffdcdc;
	font-family: "helvetica neue light";
	background-color: rgb(255, 220, 220);
	font-family: "helvetica neue light", arial;
	text-align: justify;
	padding: 3cm;
}
h1, h2 {
	font-family: "Helvetica Neue medium";
}
A:over{
	color: green
}